<!2014 Oxi Studios>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>GolfHub - Register</title>
	<link rel="stylesheet" href="CSS/SignupScreenStyle.css">
</head>

<body>
<section class="tabcontainer">
		<div class="mainpage">
			<h1>
			<a href="MainPage.html"><input type="submit" name="commit" value=" Home "></a>
			<a href="LoginScreen.html"><input type="submit" name="commit" value=" Log In " ></a>
			<a href="SignUpScreen.html"><input type="submit" name="commit" value=" Sign Up "></a>
			<a href="NextPage.html"><input type="submit" name="commit" value="Course Map"></a>
			<a href="NextPage.html"><input type="submit" name="commit" value=" Tee Times "></a>
			<a href="NextPage.html"><input type="submit" name="commit" value=" My Profile "></a>
			</h1>
		</div>
	</section>
	<section class="container">
		<div class="signup">
			<h1>GolfHub Sign Up</h1>
			<form method="post" action="NextPage.html">
				<p><input type="text" name="signup" value="" placeholder="First Name"></p>
				<P><input type="text" name="signup" value="" placeholder="Last Name"></P>
				<p><input type="text" name="signup" value="" placeholder="Email"></p>
				<p><input type="text" name="signup" value="" placeholder="Re-Enter Email"></p>
				<p><input type="password" name="password" value="" placeholder="Password"></p>
				<p><input type="password" name="password" value="" placeholder="Re-Enter Password"></p>
				<p class="submit"><input type="submit" name="commit" value="Create Account"></p>
			</form>
		</div>
	</section>
	<section class="about">
    <p class="about-author">
      &copy; 2014 <a href="http://www.oxistudios.com" target="_blank">Oxi Studios</a></p>
  </section>
</body>
</html>