<!2014 Oxi Studios>

<html xmlns="http://www.w3.org/1999/html">
<head>
	<meta cahrset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<title>GolfHub - Main</title>

	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'MainWebsite/css/MainScreenStyle.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'MainWebsite/css/bootstrap.css' %}">
</head>

<body>
	<section class="tabcontainer">

		<div class="">
			<h1>
				<a href="NextPage.html"><input type="submit" name="commit" value="Course Map"></a>
				<a href="NextPage.html"><input type="submit" name="commit" value=" Tee Times "></a>
				<a href="NextPage.html"><input type="submit" name="commit" value=" My Profile "></a>
			</h1>
		</div>

	</section>
	<section class="container">
		<div class="mainpage">
			<h1>Welcome to GolfHub!</h1>
			<div class="row">
				<div class="col-xs-6">
					<div class="mainpage">
						<h1>Groups</h1>
						{% if has_groups %} <!-- Has groups -->
						<div class="list-view">
							<!-- for loop -->
							<div class="group-list-item">
								<div class="col-xs-8 no-pad"> <!-- Display name in this column -->
									<div class="group-name-holder">
										Group Name
									</div>
								</div>
								<div class="col-xs-4 no-pad"> <!-- Display amount of users in group -->
									<div class="user-amount-holder">
										5
									</div>
								</div>
							</div>
							<div class="group-list-item">
								<div class="col-xs-8 no-pad"> <!-- Display name in this column -->
									<div class="group-name-holder">
										Group Name 2
									</div>
								</div>
								<div class="col-xs-4 no-pad"> <!-- Display amount of users in group -->
									<div class="user-amount-holder">
										6
									</div>
								</div>
							</div>
							<div class="group-list-item">
								<div class="col-xs-8 no-pad"> <!-- Display name in this column -->
									<div class="group-name-holder">
										Group Name 3
									</div>
								</div>
								<div class="col-xs-4 no-pad"> <!-- Display amount of users in group -->
									<div class="user-amount-holder">
										3
									</div>
								</div>
							</div>
							<div class="group-list-item">
								<div class="col-xs-8 no-pad"> <!-- Display name in this column -->
									<div class="group-name-holder">
										Group Name 4
									</div>
								</div>
								<div class="col-xs-4 no-pad"> <!-- Display amount of users in group -->
									<div class="user-amount-holder">
										4
									</div>
								</div>
							</div>
							<!-- / for loop -->
						</div>
						{% else %} <!-- Doesn't have groups -->
							<div class="no-group-display">
								You have no groups, create one!
							</div>
						{% endif %} <!-- /Doesn't have groups -->

						<!-- Add Group Div -->
						<div class="add-group-container row">
							<div class="col-xs-9"> <!-- text display -->
								<div id="new-group-txt">Create New Group</div>
							</div>
							<div class="col-xs-3"> <!-- Add Button display -->
								<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#createGroup">+</button>
							</div>
						</div>
                        <!-- /Add Group Div -->

                        <!-- Create New Group Popup -->
                        <div class="modal fade" id="createGroup" role="dialog">
                            <div class="modal-dialog">
                              <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Create Group</h4>
                                    </div>
                                    <form action="">
                                        <div class="modal-body">

                                            <!-- Create New Group Form Area -->
                                            <input id="group-name-create" type="text" name="name" placeholder="Group Name"/>
                                            <select>
                                                <!-- display friends in this list -->
                                            </select>
                                            <!-- /Create New Group Form Area -->

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="sendGroup(getElementById('group-name-create').value)">Create</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /Create New Group Popup -->
					</div>
				</div> <!-- /Group Column -->
				<div class="col-xs-6"> <!-- Event Column -->
					<div class="mainpage">
						<h1>Events</h1>
						<div class="list-view">
							<p>content from server here</p>
						</div>

                        <!-- Add Event Div -->
						<div class="add-event-container row">
							<div class="col-xs-9"> <!-- text display -->
								<div id="new-event-txt">Create New Event</div>
							</div>
							<div class="col-xs-3"> <!-- Add Button display -->
								<div id="event-add" onclick="alert('Hello!')">+</div>
							</div>
						</div>
                        <!-- /Add Event Div -->
					</div>
				</div> <!-- /Event Column -->
			</div>


            <!-- Padding -->
            <div class="large-padding"></div>
            <!-- /Padding -->

            <!-- User Stats Area -->
            <div class="mainpage">
                <h1>Your Golf Stats</h1>
                <div class="row"> <!-- 9 Hole stats -->
                    <div class="col-xs-12">
                        <div class="mainpage">
                            <h1>9 Hole</h1>
                            <div class="stats-9-hole-display">
                                <p>display 9 Hole stats here.</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- /9 Hole stats -->

                <!-- Padding --> <div class="small-padding"></div> <!-- /Padding -->

                <div class="row"> <!-- 18 Hole stats -->
                    <div class="col-xs-12">
                        <div class="mainpage">
                            <h1>18 Hole</h1>
                            <div class="stats-18-hole-display">
                                <p>display 18 Hole stats here.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</section>
	<section class="about">
	<p class="about-author">
		&copy; 2014 <a href="http://www.oxistudios.com" target="_blank">Oxi Studios</a></p>
	</section>


    <script src="{% static 'MainWebsite/js/jquery-2.2.3.min.js' %}"></script>
    <script src="{% static 'Users/js/new_group.js' %}"></script>
    <script src="{% static 'MainWebsite/js/bootstrap.js' %}"></script>

    </body>
	</html>	