<!2014 Oxi Studios>

<!DOCTYPE html>
<html>
<head>
	<meta cahrset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<title>GolfHub - Main</title>
	<link rel="stylesheet" href="CSS/MainScreenStyle.css">
</head>

<body>
<section class="tabcontainer">
		<div class="">
			<h1>
			<a href="MainPage.html"><input type="submit" name="commit" value=" Home "></a>
			<a href="LoginScreen.html"><input type="submit" name="commit" value=" Log In " ></a>
			<a href="SignUpScreen.html"><input type="submit" name="commit" value=" Sign Up "></a>
			<a href="NextPage.html"><input type="submit" name="commit" value="Course Map"></a>
			<a href="NextPage.html"><input type="submit" name="commit" value=" Tee Times "></a>
			<a href="NextPage.html"><input type="submit" name="commit" value=" My Profile "></a>
			</h1>
		</div>
	</section>
	<section class="container">
		<div class="mainpage">
			<h1>Welcome to GolfHub!</h1>	
			<h2>
			This is where we can put content. Right now i'm not really sure what to put in here other than updates, what's new, new posts from us, etc.
			</h2>
		</div>
	</section>
	<section class="about">
	<p class="about-author">
		&copy; 2014 <a href="http://www.oxistudios.com" target="_blank">Oxi Studios</a></p>
	</section>
	</body>
	</html>	